@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="ro">
<head>
    <script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>
    <script src="https://www.amcharts.com/lib/3/ammap.js"></script>
    <script src="https://www.amcharts.com/lib/3/maps/js/worldLow.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Description"]" />
    <meta name="keywords" content="statistici, clasamente, judet, exporturi FOB, importuri CIF, sold FOB/CIF, efectiv salariati, salariu mediu brut, salariu mediu net, numar someri, innoptari, numar turisti">
    @*<meta property="og:url" content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />*@
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Statistici Romania - @ViewData["Title"]" />
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:image" content="@ViewData["Image"]" />
    @if (@ViewData["ImageWidth"] != null)
    {
        <meta property="og:image:width" content="@ViewData["ImageWidth"]" />
        <meta property="og:image:height" content="@ViewData["ImageHeight"]" />
    }
    <title>Statistici Romania</title>
    <base href="/" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)

    <br />
    <br />
    <br />
    <br />

    <div style="position: fixed; left: 50%; bottom: 0px; transform: translate(-50%, 0%); margin: 0 auto;">
        @*<script type="text/javascript" src="//w.profitshare.ro/j/gTr3"></script>*@
        @*<script type="text/javascript" src="//w.profitshare.ro/j/gFb4"></script>*@
        <script type="text/javascript" src="//w.profitshare.ro/j/mFb4"></script>
    </div>
    <script data-cfasync="false" type="text/javascript" id="clever-core">
    /* <![CDATA[ */
        (function (document, window) {
            var a, c = document.createElement("script"), f = window.frameElement;

            c.id = "CleverCoreLoader75150";
            c.src = "https://scripts.cleverwebserver.com/510f95aa3a9a9ebe7ccfa3cee2e94e49.js";

            c.async = !0;
            c.type = "text/javascript";
            c.setAttribute("data-target", window.name || (f && f.getAttribute("id")));
            c.setAttribute("data-callback", "put-your-callback-function-here");
            c.setAttribute("data-callback-url-click", "put-your-click-macro-here");
            c.setAttribute("data-callback-url-view", "put-your-view-macro-here");

            try {
                a = parent.document.getElementsByTagName("script")[0] || document.getElementsByTagName("script")[0];
            } catch (e) {
                a = !1;
            }

            a || (a = document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]);
            a.parentNode.insertBefore(c, a);
        })(document, window);
    /* ]]> */
    </script>
</body>
</html>
